body{
    margin: 0px;
}
nav{
    background-color: #0c4ca3;
}


.border{
    border-right: 1px solid grey;
}

.danhmuc-lienket{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;
}
.qc{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto ;

}
header{
    border-bottom: 5px solid #f1f1f2;
}


h1{
    font-size: 25;
    color: blue;
    border-bottom: 2px solid gray;
    width: 1200px;
    margin: 20px auto;

}

.banner{
    width: 1200px;
    margin: auto;
}


nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav li{
    padding: 15px;
}
.tintuc{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto ;

}
.tintuc-1{
    padding-left: 18px;
    margin: 0;
    font-size: 14px;
    color: #444;
    margin-bottom: 6px;
}

.tintuc-anh{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    margin-left: 200px;
}

.thongbao{
    width: 1800px;
    background: lightgray;
    padding: 40px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
}

.thongbao p{
    color: blue;
    font-size: 170%;
    border-bottom: 2px solid gray;

}
.trai{
    margin-left: 250px;
}

.phai{
    font-size: 23px;
    width: auto;
    margin: auto;
    margin-right: 250px;
}

.thongtintuyensinh{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto ;
}



.hdsv{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: auto ;
}

.hdsv-anh{
    padding-left: 18px;
    margin: 0;
    font-size: 14px;
    color: #444;
    margin-bottom: 6px;
}

.doitac{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: auto ;
}

.noidung{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: auto ;  
}

.noidung-link{
      margin-bottom: 10px;
      color: white;
      background: black;
      padding: 10px;
      font-size: 20px;
      border-right:1px solid gray ;
}

.noidung-vanban{
    margin-bottom: 10px;
    color: white;
    background: black;
    padding: 30px;

}
.noidung-vanban h5{
    font-size:20px ;
    border-bottom: 1px solid gray;
}

.noidung-vanban p{
    line-height: 3;
    border-bottom: 1px solid gray;
}

.end{
    display: flex;
    justify-content: center;
}

.ttts{
    padding-left: 18px;
    margin: 0;
    font-size: 14px;
    color: #444;
    margin-bottom: 6px;
}

